.questionContianer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.questioncard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 700px;
    height: 700px;
}

.verifyButton{
    display: flex;
    justify-content: flex-end;
}